ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}
  
li {
    color: #000;
    float: left;
    font-family: arial;
    font-size: 13px;
}
  
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 15px 1.5px 15px 17px;
    text-decoration: none;
}

.right {
    float: right;
    opacity: 0.90;
    padding: 0 10px 0 0;
}

li:not(.right) {
    opacity: 0.75;
}
  
li a:hover {
    background-color: none;
    text-decoration: underline;
}